<!DOCTYPE html>
<html>
	<head>
		<title>Ejemplo</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	</head>
	<body>
		<h1>Ejemplo Layout</h1>
		<%= yield %>
		<p>Éste mensaje viene de layout ejemplo xD</p>
	</body>
</html>